.App {
  text-align: center;
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  margin-bottom: 20px;
}

.App-logo {
  width: 100px;
  margin-bottom: 20px;
}